---
const { blogID, title, link, image } = Astro.props;
---

<a id={blogID} href={link}>
    <img src={image} alt={title} />
    <h2>{title}</h2>
</a>

<style>
    a {
        width: 25rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
        img {
            width: 100%;
            aspect-ratio: 4/5;
            object-fit: cover;
            border-radius: 2rem;
        }
    }
</style>
