---
const { frontmatter } = Astro.props;
import Header from "../pages/components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../src/styles/global.css" />
        <link rel="stylesheet" href="../../src/styles/post.css" />
    </head>

    <body>
        <Header />
        <a href="/blogs">&leftarrow; Back to Blogs</a>
        <main>
            <h1>{frontmatter.title}</h1>
            <p>From {frontmatter.author}</p>
            <p><strong>Tags</strong>: {frontmatter.tags}</p>
            <img
                id={frontmatter.id}
                src={frontmatter.image.src}
                alt={frontmatter.image.alt}
            />
            <hr />
            <slot />
            <hr />
            <p><strong>Moral of the Story</strong>: {frontmatter.moralStory}</p>
        </main>
    </body>
</html>
