---
const { frontmatter } = Astro.props;
import Header from "../pages/components/Header.astro";
import "../styles/global.css";
import "../styles/post.css";
---

<Header />
<a href={frontmatter.section}>&leftarrow; Back</a>

<main>
    <h1>{frontmatter.title}</h1>
    <p>From {frontmatter.author}</p>
    <img
        id={frontmatter.id}
        src={frontmatter.image.src}
        alt={frontmatter.image.alt}
    />
    <hr />
    <slot />
</main>
